on:
  push

jobs:
  deploy_resources:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create Resource Group
        run: |
          #az group create --name "myresourcegroup" --location eastus
          az group list --output table

      - name: Create App Service Plan
        run: |
          #az appservice plan create --name myappserviceplan --resource-group "myresourcegroup" --sku F1 --location westus

      - name: Create the web app
        run: az webapp create --name mywebappnew1 --resource-group "myresourcegroup" --plan myappserviceplan --runtime "NODE:18-lts"
